@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

html, body{
    // font-family: 'Poppins', sans-serif !important;
    font-family: 'Montserrat', sans-serif !important;
}

$priary-color: #FF6933;
$secondary-color:#191919;


.primary-color-bg{
    background: $priary-color !important;
}
.primary-color{
    color: $priary-color;
}

.btn {
    box-shadow: 0px 0px 24px 5px rgba(204, 63, 12, 0.5);
    border-radius: 12px;
}

.dark-bg{
    background: $secondary-color !important;
}

.light-bg{
    background: rgba(255, 247, 242, 0.5);
}


.fw-500{
    font-weight: 500;
    
}
.fw-600{
    font-weight: 600;
}
.fw-800{
    font-weight: 800;
}

.text-white{
    color: #FFF7F2 !important;
}

header{
    .heading{
        font-size: 4rem;
        line-height: 1.1;
        font-weight: 800 !important;


        background: #FF6933;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F09819, #FF6933);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F09819, #FF6933);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (max-width:768px) {
            font-size: 2.5rem;
            line-height: 1.25 !important;
            
        }
    }
}

.text-black{
    color: #000 !important;
}

.video{
    iframe{
        overflow: hidden;
        aspect-ratio: 16/9;
        width: 65%;
        border-radius: 8px;

        @media screen and (max-width:768px) {
                width: 90%;
            }
    }
}

.heading{
    div{
        font-size: 3rem;

        @media screen and (max-width:768px) {
            font-size: 2.5rem;
            line-height: 1.2 !important;
            margin-bottom: 1rem;
        }
    }
}

.card{
    border-radius: 8px;
    border: none !important;
    box-shadow: 0 7px 21px rgba($color: #000000, $alpha: 0.08);
    transition: ease-in-out .3s;
    &:hover{
        transform: translateY(-4px);
    }
}


.faq-header{
    background: $priary-color;
    font-weight: 600;
    padding: 1rem;
    border-radius: .75rem .75rem 0 0;
}

.faq-header-card {
    border-radius: 0 0 .75rem .75rem !important;
    line-height: 1.6;
    padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    
    &:hover {
        transform: none;

    }
}

.how-it-works{

    .card{
        &:hover{
            transform: none;
        }
    }

}

@media screen and (max-width:768px) {
    .order-range{
        order: 2;
    }
}